body{
    padding: 2rem;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20%;
  width: 80%;
}

.searchbar {
  background-color: rgba(217, 217, 217, 1);
  border: none;
  border-radius: 30px;
  padding: 1em 4rem;
  font-size: 0.6rem;
  width: 400px;
  font-size: 1rem;
  text-align: center;
  outline: none;
}
.searchbar::placeholder{
    color: black;
  }

div:has(.searchbar) {
  width: 30000px;
  display: flex;
  justify-content: center;
}
.header__title {
  font-size: 2.5rem;
  font-family: roboto;
  max-width: 3rem;
  font-weight: bold;
}

.idk{
    display: flex;
    justify-content: space-between;
}