.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20%;
  width: 80%;
}

* {
  border: 1px solid red;
  font-family: "Roboto";
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.searchbar {
  background-color: rgba(217, 217, 217, 1);
  border: none;
  border-radius: 30px;
  padding: 1em 4rem;
  font-size: 0.6rem;
  width: 80%;
  text-align: center;
  outline: none;
}
.header__title {
  font-size: 1.4rem;
  font-family: roboto;
  max-width: 3rem;
  font-weight: bold;
}

.main {
  max-width: 100vw;
  display: flex;
  gap: 2rem;
  padding-top: 0em;
  min-height: fit-content;
  justify-content: space-between;
}

.currently-watching {
  display: flex;
  gap: 1em;
}
.p {
  font-size: 1.8rem;
  margin-top: rem;
  margin-bottom: 0%;
}
.currently-watching li {
  list-style-type: none;
  position: relative;
}

.currently-watching li p {
  position: absolute;
  left: 38%;
  bottom: 38%;
  font-size: 2rem;
  font-weight: 900;
  font-family: "roboto";
  opacity: 0;
  color: white;
}

.currently-watching li img {
  border-radius: 10px;
  width: 200px;
}
.currently-watching li::after(third) {
  display: none;
}
.currently-watching li:hover img {
  opacity: 0.8;
}
.currently-watching li:hover p {
  z-index: 5;
  opacity: 1;
  transition: all 0.4s;
}

.suggestions {
  display: flex;
  gap: 02rem;
  overflow: scroll;
  flex-wrap: nowrap;
  padding-right: 0px;
  max-width: 55vw;
}

.suggestions::-webkit-scrollbar {
  display: none;
}

.p {
  display: flex;
  flex-direction: column;
}

.suggestions li {
  list-style-type: none;
}

.suggestions li h2 {
  text-align: center;
  font-size: 12px;
}

.suggestions li img {
  border-radius: 10px;
  width: 200px;
}

/* .previously-watched {
  display: flex;
  gap: 1em;
  max-width: 100vw;
  overflow: auto;
} */

.previously-watched::-webkit-scrollbar {
  display: none;
}

.previously-watched {
  display: flex;
  gap: 02rem;
  overflow: auto;
  flex-wrap: nowrap;
  padding-right: 0px;
  width: 98vw;
  /* border: 1px solid red; */
}

/* 
.previously-watched div {
  height: 800px;
  width: 3000px;
  background-size: 300px 600px;
  border: 1px solid red;
}

.previously-watched div div {
  color: white;
  font-family: roboto;
  opacity: 0;
  display: hidden;
  height: 100%;
}
.previously-watched div:hover {
  opacity: 0.7;
}
.previously-watcheddiv div div:hover {
  display: flex;
  opacity: 1;
  transition: all 0.4s;
  z-index: 1;
} */

.previously-watched {
  display: flex;
  gap: 1em;
}

.previously-watched li {
  list-style-type: none;
  position: relative;
  display: flex;
}

.previously-watched li p {
  position: absolute;
  left: 34%;
  bottom: 38%;
  text-align: center;
  font-size: 2rem;
  color: white;
  z-index: 2;
  opacity: 0;
}

.previously-watched li img {
  border-radius: 10px;
  width: 200px;
}

.previously-watched li:hover img {
  opacity: 0.8;
}

.previously-watched li:hover p {
  z-index: 5;
  opacity: 1;
  transition: all 0.4s;
  color: aqua;
  font-weight: 900;
  font-family: "roboto";
  transition: all 0.4s;
  text-align: center;
}
